<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo EJS</title>
</head>
<body>
  <h1>Welcome to my shopping list!</h1>
  <p><a href="/listroute">See List</a></p>
  <p><a href="/quantities">See List with quantities</a></p>
</body>
</html>