<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Demo list</title>
</head>
<body>
  <h1>My Grocery List</h1>
  <p><a href="/">Home</a></p>

  <h2>Things I need at the store</h2>
  <ul>
    <% myShoppingList.forEach(item => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>
</body>
</html>